html {
  /*  filter: sepia(0%) invert(87%) saturate(0%) brightness(1) grayscale(0%) hue-rotate(0deg) contrast(100%);
    -webkit-filter:sepia(0%) invert(87%) saturate(0%) brightness(1) grayscale(0%) hue-rotate(0deg) contrast(100%) */

}
*{outline:none !important}
body {
    margin: 0;
    padding: 0;
    outline: 0;
    display: inline;
    background-color: #FFFFFF;
    font: caption;
    color: #2c2323;
    outline: none;
    overflow-X:hidden;
    /* zoom: 0.6; */
}
@viewport {
  min-width: 640px;
  max-width: 800px;
}
@viewport {
  zoom: 0.75;
  min-zoom: 0.5;
  max-zoom: 0.9;
}
@viewport {
  orientation: landscape;
}

a,
a:visited {
    color: #382323;
    text-decoration: none
}
a:hover {
    color: #d1d1d1;
}
hr {
    background-color: grey
}
audio {
    width: 100%
}
button {
    font-size: 2em;
    background-color: black;
    color: #dedede;
    z-index: 99;
    transition: border-radius linear 3s
}
button:hover {
    border-radius: 40px;
    outline: 0
}
i {
    color: #dedede
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#deckA {
    position: absolute;
    margin: 0% 8% 0 140px;
    width: 500px;
    min-width: 500px;
    max-width: 500px;
    left: 0;
    top: 490px;
}
#deckB {
    position: absolute;

    width: 480px;
    min-width: 480px;
    max-width: 480px;
    left: 640px ;
    top: 490px;
 /*   transform: rotateY(-180deg); */
}
#ctrlBlock {
    position: absolute;

    left: 44%;
    top: 440px;
    z-index: -14;
    display: inline-block;
    word-break: break-all
}
#ctrlBlock a {
    word-break: break-all
}
#listing {
    width: 460px;
    max-width: 460px;
    display: inline-block;
    float:left;
    margin:10px 0 0 8.3%;
height:300px;
max-height:300px;
     overflow: auto;
}
#listingB {
    width: 460px;
    max-width: 460px;
    display: inline-block;
        margin:8px 0 0 0;
height:300px;
max-height:300px;
     overflow: auto;
}
#listing a {
    width: 500px;
    max-width: 500px
}
#listingB a {
    padding: 0 -50% 0 0;
    width: 400px;

    max-width: 400px
}
#dice {
    font-size: 2.77em;
    float: right;
    margin: 400px 0 0 0
}
/*
#lowGainKnob, #lowGain02Knob, #lowGain03Knob, #highGain05Knob, #highGain06Knob, #highGainKnob, #mid
*/
.mixer{ 
-webkit-transform-style: preserve-3d;
max-right:1180px
}
.mix{ 
 transform: rotate(90deg);
   transform-origin: center;
   -webkit-transform-style: preserve-3d;
-webkit-backface-visibility: hidden;
 width:350px;
 display:inline;
 margin:-160px;
padding:0 0 0 30px;
 cursor: pointer;


}
.mixreversed{ 
 transform: rotate(-90deg);
   transform-origin: center;
   -webkit-transform-style: preserve-3d;
-webkit-backface-visibility: hidden;
 width:350px;
 display:inline;
 margin:-160px;
padding:0 0 0 30px;
 cursor: pointer;


}
.mixRight{ 

    padding: 65px 0 0 0;
    vertical-align: top;

}
#mid{
 transform: rotate(-90deg);
   transform-origin: center;
 margin:-80px -160px -190px -160px
}
form input[type=range]::-moz-range-thumb {
/* background: url('https://ponyhacks.com/img/www/push.png'); */
 background-color:#dedede;
border-radius:23px; 
height:16px;
 width:16px;
 outline:0
}



.right{
float:right;
margin:-115px 0 0 10%
}
.left{

padding:4% 0 0 10%
}
.main{
width:1290px;
height:100%;
max-width:90%;
min-height:600px;
z-index:-10;

    min-width: 1290px;
}
.filesBlock{
margin:-80px 13% 0 10%;
font-size:1.2em;
font:caption

}
#sliderTracks{
z-index:108;
position:absolute;
top:445px;
left:560px
}
#sliderTracksRatio{
z-index:108;
position:absolute;
top:465px;
left:585px;
width:80px;
}
#sliderTracksRatio::-moz-range-thumb{
height:8px;
 width:8px;
}
#audB{
 float:right
}
.files{
 width:800px; 
}
.moonlist{
 width:10px;


  
}
.moonlist a{
  color:black;
  display: table-cell;


}
.moonlist li{
margin:-4px 0 0 0;
  min-height: 10em;

}
.mark{
background-color:#fff300;

 /*   filter: sepia(0%) invert(0%) saturate(0%) brightness(1) grayscale(0%) hue-rotate(0deg) contrast(100%);
    -webkit-filter:sepia(0%) invert(0%) saturate(0%) brightness(1) grayscale(0%) hue-rotate(0deg) contrast(100%) */
}
.mark a{
color:white;
}
.fullright{
float:right
}
.poster{

  background-color: #eee;
  white-space: nowrap;

  display: table;
margin:0 -120px 0 -120px;

transition: transform 20s ease-in-out;
  -webkit-animation: posteranimation 290s infinite;
  -moz-animation:    posteranimation 290s infinite; 
  -o-animation:      posteranimation 290s infinite;
  animation:         posteranimation 290s infinite;

}

.poster img{
  height: 105px;width:105px;
}
.filesblock{
max-width:940px;width: 940px;
top:50px;
left:50px;
  vertical-align: middle;
  padding: 13px;
  display: table-cell;

}
.filesblockright{
background-color:white;
height:260px;
  vertical-align: middle;

}

.poster:hover{

transform: translateX(-10000px)
}
@-webkit-keyframes posteranimation {
  0%   { transform: translateX(0px) }
  50% { transform: translateX(-10000px) }
  100% { transform: translateX(0px) }
}
@-moz-keyframes posteranimation {
  0%   { transform: translateX(0px) }
  50% { transform: translateX(-10000px) }
  100% { transform: translateX(0px) }
}
@-o-keyframes posteranimation {
  0%   { transform: translateX(0px) }
  50% { transform: translateX(-10000px) }
  100% { transform: translateX(0px) }
}
@keyframes posteranimation {
  0%   { transform: translateX(0px) }
  50% { transform: translateX(-10000px) }
  100% { transform: translateX(0px) }
}
